*{
    box-sizing: border-box;
    margin: 0px auto;
    color: rgba(245, 245, 245, 0.825);
    font-family:'Raleway', sans-serif;
    scroll-behavior: smooth;
}

body{
    background: url("../Assets/creator_background.jpg");
    background-size: 100vw 100vh;
    background: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.content{
    padding-top: 100px;
    margin-bottom: 300px;
    max-width: 1100px;
    width: 90%;
    height: 100%;
    text-align: center;
    font-size: 30px;
}

body {
    scroll-behavior: smooth;
}

header {
    background: url(../Assets/2022.png) no-repeat center;
    background-size: 500px;


    background-color: rgba(0, 0, 0, 0.301);
    height: 300px;
    box-shadow: 0px 10px 10px rgba(128, 128, 128, 0.600);

}

main {
    position: relative;
    background-color: #179EB3;
}

.logo {
    display: flex;
}

.links a.active{
    color: #f0e100;
}

nav {
    display: flex;
    background-color: #0e131f00;
    transition: background-color 0.5s ease;
    position: sticky;
    width: 100%;
    top: 0px;
}

.text {
    width: 80%;
    max-width: 1000px;
}

nav:hover {
    background-color: rgba(14, 19, 31, 0.900) !important;
}

nav a:hover, nav a:focus {
    color: #F0E100;
    font-size: 25px;
}

.links {
    padding-top: 20px;
}



nav a {
    margin: 20px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    transition: font-size 0.4s ease;
}

.name {
    margin: 7px 0 10px 10px;
    color: white;
}

.logo img {
    width: 70px;
    height: 70px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content:center;
    height: 90vh;
}

p{
    font-size: 20px;
}

.content img{
    width: 200px;
    border-radius: 50%;
    margin: 10px 10px 20px 10px;
}

.content a{
    text-decoration: none;
    padding: 20px;
}

.social-media{
    padding: 20px;
}

.insta-handle{
  background: -webkit-linear-gradient(#405DE6,#5B51D8,#833AB4,#C13584,#E1306C,#FD1D1D,#F56040,#F77737,#FCAF45,#FFDC80);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 10px;
}

.linkedin{
    background-color: #0A66C2;
    color: white;
    padding: 0px 4px 0 4px;
    margin-right: 10px;
    border-radius: 2px;
}

.li-handle{
    color: #0A66C2;
}

.github{
    margin: 10px;
}

.content h1{
    font-size: 50px;
    text-transform: uppercase;
    word-spacing: 20px;
    letter-spacing: 5px;
    font-weight: 500;
}

.creators{
    margin-top: 120px;
    margin-bottom: 300px;
    width: 80%;
    display: flex;
    height: 500px;
}

.creator{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 20%;
    border-radius: 6px;
    font-size: 15px;
    transition: box-shadow 0.3s ease;
    height:fit-content;
}

.creator:hover{
    box-shadow:  10px 10px 10px rgba(255, 255, 255, 0.566);
}

.creator a{
    text-align: center;
    text-decoration: none;
}

.creator img{
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    width: 95%;
    border-radius: 6px;
}

.creator h1,.creator p{
    color: rgba(0, 0, 0, 0.666);
}

.creator p{
    margin-bottom: 2.5%;
}
