*{
    box-sizing: border-box;
    margin: 0px auto;
}

header{
    background: url(../Assets/2022.png) no-repeat center;
    background-size: 500px;

    
    background-color: rgba(0, 0, 0, 0.301);
    height: 300px;
}

main{
    position:relative;
    background-color: #179EB3;
}

.logo{
    display: flex;
}

nav{
    display: flex;
    background-color: #0e131f00;
    transition: background-color 1s ease;
    position: fixed;
    width: 100%;
    top: 0px;
}

.text{
    width: 80%;
    max-width: 1000px;
}

nav:hover{
    background-color: rgba(14, 19, 31, 0.900) !important;
}

nav a:hover{
    color: #F0E100;
    font-size: 25px;
}

.links,.searchbar
{
    padding-top: 20px;
}

#searchbar
{
    border-radius: 10px;
    width: 200px;
    padding: 7px;
    outline: none;
    border: transparent;
    transition: width 1s ease;
}

#searchbar:hover{
    width: 500px;
}

nav a{
    margin: 20px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    transition: font-size 1s ease;
}

.name{
    margin: 7px 0 10px 10px;
    color: white;
}

img{
    width: 70px;
    height: 70px;
}

