* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    scroll-behavior: smooth;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: url(../Assets/background.jpeg);
    background-size: cover;
}


.logo {
    display: flex;
    
}

nav {
    display: flex;
    background-color: #0e131f00;
    transition: background-color 1s ease;
    position: sticky;
    width: 100%;
    justify-content: space-between;
    padding: 5px 120px 5px 120px;
    top: 0px;
}

.links a.active{
    color: #f0e100;
}


nav a:hover, nav a:focus {
    color: #F0E100;
    font-size: 25px;

}

.links {
    padding-top: 20px;
}



nav a {
    margin: 20px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    transition: font-size 1s ease;
}

.name {
    margin: 7px 0 10px 10px;
    color: white;
}

img {
    margin-top: 10px;
    width: 150px;
}

/* body styling */

.container{
    display: flex;
    color: white;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 0 120px 0 120px;
    position: relative;
    animation: pop-in 2s;
}

.container p{
    font-size: 30px;
}
.container h1{
    font-size: 60px;
}

/* keyframes starts here */

@keyframes pop-in{
    0%{top:-220px}
    100%{top:0px}
}